.container {
    width: 800px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.token {
    width: 32%;
    height: 50%;
    border: 1px solid blue;
    margin-left: 1px;
    float:left;
    text-align: center;
    padding: 50px 0px 50px 0px;
    font-size: x-large;
}
.textdisplay {
    text-align: center;
    clear: both;
}
#point {
    text-align: center;
    width: 100%;
}

.hidden {
  display: none;
}

.tile {
    width: 190px;
    height: 160px;
    float: left;
}

.game {
    width: 800;
}

.lays {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/lays-logo.png');
}

.doritos {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/doritos-logo.png');
}

.cheetos {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/cheetos-logo.png');
}

.fritos {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/fritos-logo.png');
}

.tostitos {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/tostitos-logoff0a37e0cc54631c95cbff00000d71c6.png');
}

.ruffles {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/ruffles-logo.png');
}

.smartfood {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/smartfood-logo.png');
}

.sunchips {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/sun-chips-logo.png');
}

.roldgold {
    background-image: url('http://www.fritolay.com/images/default-source/Logos/rold-gold-logo.png');
}

